apiVersion: v1
kind: Service
metadata:
  name: hubble-ui
  namespace: kube-system
spec:
  type: {{ hubble_ui_service_type }}
  loadBalancerIP: {{ hubble_ui_loadBalancerIP }}
  ports:
    - name: http
      port: {{ hubble_ui_service_port }}
      targetPort: {{ hubble_ui_service_target_port }}
  selector:
    k8s-app: hubble-ui
